



body{
  margin: auto;
  padding: inherit;
  background: url("food1.jpg");
  background-repeat: no-repeat;
  background-size: auto;

}



header .logo{

         list-style-type: none;
          font-size: 50px;
          font-weight: 900;
           text-decoration: none;
          text-transform: uppercase;
		  padding: 10px;
		  margin:10px;
		  




}
header {
  /*background-color: #F1F1F1;*/
  text-align:center;
  padding: 150px;
  margin:190px;
  
}

ul {
  list-style-type: none;
  text-align:center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
  font-size: 40px;
   
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: white;
}

